<doctype html>
    <html lang="en">
        <head>
            <meta charset = "UTF-8">
            <title>Mercado Liebre</title>
            <link rel="stylesheet" href="/css/styles.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        </head>
        <body>
            <header>
                <div class="main-head">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre">
                    <p>Lugar para poner barra de búsqueda</p>
                    <p>Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Creá tu cuenta</a></li>
                        <li><a href="#">Ingresá</a></li>
                        <li><a href="#">Mis Compras</a></li>
                    </ul>
                </nav>
                <img src="/images/img-home-banner.jpg" alt="Banner">
            </header>
            <main>
                <section>
                    <h3>Basado en tu última visita</h3>
                    <article>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera">
                        <p>$6.770<p>
                        <p>40% OFF</p>
                        <h4>Cafetera Moulinex</h4>
                    </article>
                    <article>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen Computadora">
                        <p>$230.000<p>
                        <p>20% OFF</p>
                        <h4>MacBook Pro 2019</h4>
                    </article>
                    <article>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen Celular">
                        <p>$70.500<p>
                        <p>10% OFF</p>
                        <h4>Samsng Galaxy S10</h4>
                    </article>
                    <article>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen Televisor">
                        <p>$23.200<p>
                        <p>5% OFF</p>
                        <h4>SmartTv Samsung 43"</h4>
                    </article>
                </section>
                <section>
                    <h3>Ofertas</h3>
                    <article>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera">
                        <p>$6.770<p>
                        <p>40% OFF</p>
                        <h4>Cafetera Moulinex</h4>
                    </article>
                    <article>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen Computadora">
                        <p>$230.000<p>
                        <p>20% OFF</p>
                        <h4>MacBook Pro 2019</h4>
                    </article>
                    <article>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen Celular">
                        <p>$70.500<p>
                        <p>10% OFF</p>
                        <h4>Samsng Galaxy S10</h4>
                    </article>
                    <article>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen Televisor">
                        <p>$23.200<p>
                        <p>5% OFF</p>
                        <h4>SmartTv Samsung 43"</h4>
                    </article>
                </section>
            </main>
            <footer>
                <ul type="none">
                    <li>Pagá con tarjeta o en efectivo</li>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interes con tarjeta o en efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    <li>Envío gratis desde $ 2.500</li>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                    <li>Seguridad, de principio a fin</li>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </ul>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </footer>
        </body>
    </html>
</doctype>